{% extends 'mysite/base.html' %}

{% block content %}

  <div class="alert alert-warning alert-dismissible fade show bg-primary text-white" role="alert">
  <strong>@Mail ID: </strong> 74shivamraj@gmail.com
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <div class="alert alert-warning alert-dismissible fade show bg-warning text-dark" role="alert">
  <strong>@Mobile No: </strong> +91 8292857929
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>




    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input name='email' class="form-control" type="email" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Subject</label>
                        <div class="col-10">
                            <input name='subject' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Message</label>
                        <div class="col-10">
                            <textarea name='message' class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}
